
<div class="row clearfix">
  <div class="col-md-12 table-responsive">
  <table class="table borderless table-name table-sortable1" id="tab_logic1">
    <thead>
      <tr>
        <th  class="text-center"scope="col"></th>
        <th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;"></th>
      </tr>
    </thead>
    <tbody>
      <tr id='adddr0' data-id="0" class="hidden">
        <td data-name="it" >
            <input type="text" name='it' placeholder='Enter the Chemical' class="form-control"/>
        </td>
        <td style="height:100% !important; width:50px;"data-name="del">
          <button style="height:100% !important; width:50px;"name="del0" class=' button btn btn-danger glyphicon glyphicon-trash row-remove1' icon="fa fa-refresh">
            <img class="trash"[src]="trash" width="80%" height="90%">
          </button>

        </td>
      </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" style="text-align: left;">
              <input type="button" id="add_row1" class="btn btn-lg btn-block btn-default" placeholder="ADD ROW" value="Add Row" />
            </td>
        </tr>
        <tr>
        </tr>
    </tfoot>
  </table>
</div>
</div>
