.trash {
   opacity: 0.0;

}
.trash:hover {
   opacity: 0.5;

}
.button {
  color:black;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.button:hover {
   background-color: #dc3545;
   border-color: #dc3545;
  display: inline-block;
}

/*.selectContainer{
  width: 200px;
}*/
.selectContainer1{
  float: left;
  min-width: 100px !important;
  max-width: 300px !important;

}
.selecthazard1{
  float:left;
  min-width: 300px !important;


}
.inputQuantity1{
  float: left;
  width: 300px !important;

}
